.error {
  color: red;
  margin: 0;
  font-size: 1.2rem;
}

.form {
  padding-top: 11rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  max-width: 1000px;
}

.form > h1 {
  color: #666666;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-family: "Lato", sans-serif;
  align-self: flex-start;
}

.form-control {
  margin-top: 1rem;
}

.form-control.valid > input {
  border-bottom: 3px solid rgb(2, 177, 34);
}

.form-control.invalid > input {
  border-bottom: 3px solid rgb(216, 46, 16);
}

.form-control > input {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 1rem;
  transition: all 100ms linear;
  background-color: transparent;
}

.form-control > input:focus {
  border-bottom: 3px solid rgb(246, 161, 4);
  transition: all 100ms linear;
}

@media all and (max-width: 1024px) {
  .form-control > input {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media all and (max-width: 425px) {
  .form {
    padding-top: 5rem;
  }

  .form > h1 {
    font-size: 4rem;
  }

  .form-control > input {
    font-size: 1.5rem;
    width: 100%;
  }

  .error {
    font-size: 0.9rem;
  }
}
