.menu {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  gap: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.button-menu {
  padding: 0;
  background-color: transparent;
  border: none;
}
.cart > i {
  color: white;
  font-size: 2.5rem;
}

.button-menu > a {
  color: white;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.button-menu > a > p {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 0.3rem;
}
.button-menu p {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 0.3rem;
}

.item {
  display: flex;
  align-items: center;
}

.item > p {
  margin: 0;
  padding-left: 0.2rem;
  font-weight: 600;
}

.item-button {
  justify-content: center;
  align-items: center;
}
.sign-button {
  background-color: #ffdd02;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: background-color ease 150ms, scale ease 150ms,
    box-shadow ease 150ms;
}

.sign-button:hover {
  background-color: #f3d407;
  scale: 1.02;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.5);
}

.sign-button {
  color: #131921;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-text {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 700;
}

.cart-text > span {
  color: orange;
  font-size: 1.3rem;
  font-weight: 700;
}

@media all and (max-width: 1024px) {
  .sign-button {
    font-size: 1rem;
  }

  .button-menu > a > i {
    font-size: 2rem;
  }

  .button-menu > a > p {
    font-size: 1rem;
    padding-left: 0.2rem;
  }

  .sign-button {
    padding: 0.5rem 0.3rem;
  }
}
